
/* Importação de fontes */
  @import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
:root{
    --cor-primaria: rgb(23, 23, 88);
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: goldenrod;
    --cor-quartenaria: #000;
    
    --fonte-primaria:'Krona One', sans-serif;
    --fonte-secundaria:'Montserrat', sans-serif
}



*{/* Conteúdo da página inteira */
    margin: 0%;
    padding: 0%;/* Espaço entre a o conteúdo e borda */
}

body {/* Corpo da página */
   /* height: 100vh; Altura do conteúdo sem definição de header*/
    box-sizing: border-box ;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.Cabecalho{
    padding: 2% 0% 0% 15%;
}

.Cabecalho_menu{
 display:flex;
 gap: 80px;
}

.Cabecalho_menu_link{
    font-family: var(--fonte-secundaria);
    font-size: 1.5 rem;
    font-weight: 600;
    color: var(--cor-secundaria);
    text-decoration: none;
}



.Apresentacao{/*Estilizando o texto como um todo*/
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;  
    gap: 82 px;  
}

.Apresentacao__Conteudo{/* Estilizando o conteúdo(sem o imagem) */
    padding: 0% 5% 0% 0%;
    width: auto;
    display: flex;/* Controla o posicionamento dos elementos */
    flex-direction:column;
    gap: 40px;
    }

.Apresentacao__Conteudo__Titulo{/* Estilizando só o titúlo */
    font-size: 2.25 rem;
    color: var(--cor-secundaria);
    font-family: 'Krona One', sans-serif;/* referenciar o link da fonte */
}

.titulo_destaque{/**Estilizando o titúlo com um destaque em palavras*/
    color: var(--cor-terciaria);
}




.Apresentacao__Conteudo__Texto{/* Estilizando o texto(Parágrafo) */
    font-size: 1.5 rem;
    font-family: var(--fonte-secundaria);

}
.Apresentacao__links{/* Espaçamento dos links */
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: space-between;/* Espaçam   ento para lateral dos elementos */
    gap: 32px;
}

.Apresentacao__links_subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}
.Apresentacao__links__link{/* Estilizando os links individualmente */
    background-color: var(--cor-terciaria);
    box-shadow: 5px 10px rgb(94, 92, 92);
    transition: 1s;/* Transição */
    cursor: pointer;/* Transição */
    text-align: center;
    border: 2px groove var(--cor-quartenaria);/* bordas */
    border-radius: 8px;
    border-top: 15px solid var(--cor-quartenaria);
    font-size: 1.5rem;
    font-weight: 600;/* Peso(grossura) da fonte */
    text-decoration: none;/* Remove decorações */
    color: var(--cor-quartenaria);
    font-family: 'Montserrat', sans-serif;   
    width: 70%;
    padding: 21.5px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px; 
}
.Apresentacao__links__link:hover{/* Acrescentando transição de passar o mouse */
border-top:  15px solid var(--cor-terciaria);
background-color: var(--cor-quartenaria);
color:var(--cor-secundaria);
transition: 1s;
}

.Apresentacao__imagem{
    width: 50%;
}

.Rodape{
color:var(--cor-quartenaria) ;
background-color: var(--cor-terciaria) ;
padding: 2%;
text-align: center;
font-family: var(--fonte-secundaria);
font-size: 1.25rem;
font-weight: 400;
}

@media(max-width: 920px){
    .Apresentacao{
     flex-direction: column-reverse;
     padding: 2% 5%;
    }
    .Apresentacao__Conteudo{
        width: auto;
    }
    .Cabecalho{
        padding: 5%
    }
    .Cabecalho_menu{
        justify-content: center;
    }
}
